---
---
a{
  text-decoration: none;
  color: inherit;
}
body{
  margin: 0;
  text-align: center;
}
section{
  margin: auto;
  width: 80vw;
  max-width: 700px;
}


footer{
  background-color: #888;
  color: #fff;
  padding: 12px 0;
}
.footer-menu-list{
  list-style: none;
  padding: 0;
  li{
    display: inline;
  }
}

.outline-one{
  margin: 12px;
  text-align: left;
  *{
    display: inline-block;
    margin: 0;
  }
  h3{
    background-color: #000;
    color: #fff;
    margin-right: 12px;
    padding: 4px 12px;
    text-align: center;
    width: 5em;
  }
}
