---
---
@import "_variables";
a{
  color: inherit;
}
body{
  margin: 0;
  text-align: center;
}
header{
  padding-bottom: 48px;
}
section, .post{
  margin: auto;
  width: 80vw;
  max-width: 700px;
  clear: both;
}

.article{
  float: left;
  margin-bottom: 24px;
  text-align: left;
  a{
    text-decoration: none;
  }
}
.article-date{
  font-weight: bold;
  margin-bottom: 4px;
}
.article-event{
  padding: 1vw;
  width: calc(50% - 2vw);
}
.article-news{
  padding: 1vw;
  width: calc(33% - 2vw);
}
.article-thumbnail{
  width: 100%;
}
.article-title{
  margin-top: 4px;
}

.button{
  border: solid $main-color 4px;
  border-radius: 30px;
  padding: 8px 36px;
  text-decoration: none;
}

footer{
  background-color: #888;
  color: #fff;
  padding-bottom: 12px;
}
.footer-menu-list{
  list-style: none;
  padding: 0;
  li{
    display: inline;
  }
}

.menu{
  background-color: $main-color;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  input{
    display: none;
  }
}
.menu-hamburger{
  color: #fff;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 6px;
  right: 12px;
  .fa-times{
    display: none;
  }
  i{
    font-size: 24px;
    line-height: 36px;
  }
}
.menu-list{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    color: #fff;
    display: inline;
    font-weight: bold;
    line-height:48px;
  }
  li:not(:last-child){
    margin-right: 24px;
  }
  li a{
    text-decoration: none;
    color: inherit;
  }
}
@media screen and (max-width: 1000px){
  .menu-list{
    background-color:rgba(255, 255, 255, 0.8);
    display: none;
    height: 100vh;
    li{
      color: inherit;
      display: block;
      margin: 0 !important;
    }
  }
  .menu-hamburger{
    display: block;
  }
}
#menu-check:checked {
  ~ .menu-list{
    display: block;
  }
  ~ .menu-hamburger .fa-times{
    display: block;
  }
  ~ .menu-hamburger .fa-bars{
    display: none;
  }
}

.outline-one{
  margin: 12px;
  text-align: left;
  *{
    display: inline-block;
    margin: 0;
  }
  h3{
    background-color: #000;
    color: #fff;
    margin-right: 12px;
    padding: 4px 12px;
    text-align: center;
    width: 5em;
  }
}

.post{
  text-align: left;
  letter-spacing: .08em;
  line-height: 1.8em;
  h1{
    font-weight: 500;
    text-align: center;
  }
  .post-date{
    text-align: center;
  }
}
.post-content{
  padding: 24px 0;
}
.post-head{
  background-color: $main-color;
  color:#fff;
  margin-bottom: 60px;
  padding: 48px 0;
  h2{
    margin: 0;
  }
}

.share{
  a{
    display: block;
    float: left;
    line-height: 60px;
    height: 60px;
    width: 50%;
  }
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}
.share-facebook{
  background-color: $facebook-color;
}
.share-twitter{
  background-color: $twitter-color;
}

.sponsors-rank{
  text-align: left;
  letter-spacing: -1em;
  img{
    display: inline;
    vertical-align: middle;
  }
}

.sponsor-gold{
  padding: 4vw;
  width: calc(100% - 8vw);
}
.sponsor-silver{
  padding: 2vw;
  width: calc(50% - 4vw);
}
.sponsor-bronze, .sponsor-in-kind{
  padding: 1vw;
  width: calc(20% - 2vw);
}

.staff{
  float: left;
  padding: 1.5vw;
  width: calc(20% - 3vw);
  p{
    transition: .3s;
  }
}
.staff-image img{
  border-radius: 50%;
  width: 100%;
}
.staff:hover p{
  font-weight: bold;
  transition: .3s;
}
