---
---
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Concert+One|M+PLUS+Rounded+1c|Roboto&display=swap");
a{
  color: inherit;
}
body{
  font-family: 'Roboto','M PLUS Rounded 1c', sans-serif;
  margin: 0;
  text-align: center;
  letter-spacing: .08em;
  line-height: 1.8em;
}
header{
  padding-bottom: 48px;
}
section, .post{
  margin: 48px auto;
  width: 80vw;
  max-width: 1000px;
  clear: both;
  overflow:hidden;
}
section{
  h2{
    font-family: 'Concert One', cursive;
    font-size: 2em;
    margin-bottom: .5em;
  }
  .caption{
    margin: 0 auto 2em;
  }
}
.article{
  float: left;
  margin-bottom: 24px;
  text-align: left;
  a{
    text-decoration: none;
  }
}
.article-date{
  font-weight: bold;
  margin-bottom: 4px;
}
.article-event{
  padding: 1vw;
  width: calc(50% - 2vw);
  .article-thumbnail{
    height: calc( ((80vw / 2) - 2vw) * (400 / 600));
  }
}
.article-news{
  padding: 1vw;
  width: calc(33% - 2vw);
  .article-thumbnail{
    height: calc( ((80vw / 3) - 2vw) * (400 / 600));
  }
}
.article-thumbnail{
  width: 100%;
  object-fit: cover;
}
.article-title{
  margin-top: 4px;
}

.background-ninja{
  background: url("{{site.url}}/img/background.jpg");
  background-size:80vh auto;
  padding: 24px;
}

.button{
  border: solid $main-color 4px;
  border-radius: 30px;
  display: block;
  margin: auto;
  padding: 8px 36px;
  text-align: center;
  text-decoration: none;
  width: 30%;
}

footer{
  background-color: #888;
  color: #fff;
  padding-bottom: 12px;
}
.footer-menu-list{
  list-style: none;
  padding: 0;
  li{
    display: inline;
  }
}

h2{
  margin-top: 1.6em;
}

.img-section{
  margin-bottom: 36px;
  img{
    border-radius: 4px;
    height: 32vw;
    object-fit: cover;
    width: 100%;
  }
}

.link{
  background-color: $main-color;
  border-radius: calc(12px + .5em);
  color: #fff;
  padding: 12px;
  margin-right: 6px;
}

.map{
  width: 100%;
  max-width: 600px;
}

.menu{
  background-color: $main-color;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  input{
    display: none;
  }
}
.menu-hamburger{
  color: #fff;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 6px;
  right: 12px;
  .fa-times{
    display: none;
  }
  i{
    font-size: 24px;
    line-height: 36px;
  }
}
.menu-list{
  list-style: none;
  margin: auto;
  padding: 0;
  width: 80vw;
  max-width: 1000px;
  > li{
    color: #fff;
    float: left;
    font-weight: bold;
    line-height:48px;
  }
  > li:not(:last-child){
    margin-right: 24px;
  }
  li a{
    text-decoration: none;
    color: inherit;
  }
}

.menu-second{
  background-color: $light-gray;
  color: #000;
  display: none;
  list-style: none;
  padding: 0;
  position: fixed;
  text-align: left;
  > li{
    padding: 12px 24px;
    line-height: 1.2em;
  }
  > li:hover{
    background-color: #ddd;
  }
}
.menu-first:hover > .menu-second{
  display: block;
}

@media screen and (max-width: 1000px){
  .menu-list{
    background-color:rgba(255, 255, 255, 0.8);
    display: none;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    > li{
      color: inherit;
      display: block;
      float: none;
      margin: 0 !important;
    }
  }
  .menu-second{
    background-color: inherit;
    display: block;
    position: static;
    text-align: center;
  }
  .menu-hamburger{
    display: block;
  }
}
#menu-check:checked {
  ~ .menu-list{
    display: block;
  }
  ~ .menu-hamburger .fa-times{
    display: block;
  }
  ~ .menu-hamburger .fa-bars{
    display: none;
  }
}

.outline-one{
  margin: 12px;
  text-align: left;
  *{
    display: inline-block;
    margin: 0;
  }
  h3{
    background-color: $main-color;
    color: #fff;
    margin-right: 12px;
    padding: 4px 12px;
    text-align: center;
    width: 5em;
  }
}

.post{
  margin-bottom: 12vh;
  text-align: left;
  h1{
    font-weight: 500;
    text-align: center;
  }
  .post-date{
    text-align: center;
  }
}
.post-content{
  padding: 24px 0;
}
.post-head{
  background-color: $main-color;
  color:#fff;
  margin-bottom: 60px;
  padding: 48px 0;
  h2{
    margin: 0;
  }
}

.share{
  a{
    display: block;
    float: left;
    line-height: 60px;
    height: 60px;
    width: 50%;
    text-decoration-line: none;
  }
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}
.share-facebook{
  background-color: $facebook-color;
}
.share-twitter{
  background-color: $twitter-color;
}

.speaker-description{
  clear: both;
}
.speaker-img{
  border-radius: 60px;
  float: left;
  margin:0 12px 12px 0;
  width: 120px;
}

.sponsors-rank{
  letter-spacing: -1em;
  margin-bottom: 48px;
  text-align: left;
  img{
    display: inline;
    vertical-align: middle;
  }
}

.sponsor-gold{
  padding: 4vw;
  width: calc(100% - 8vw);
}
.sponsor-silver{
  padding: 2vw;
  width: calc(50% - 4vw);
}
.sponsor-bronze, .sponsor-in-kind{
  padding: 1vw;
  width: calc(20% - 2vw);
}

.staff{
  float: left;
  padding: 1.5vw;
  width: calc(20% - 3vw);
  p{
    transition: .3s;
  }
}
.staff-image img{
  border-radius: 50%;
  width: 100%;
}
.staff:hover p{
  font-weight: bold;
  transition: .3s;
}

.tags{
  text-align: center;
}
.tag-workshop{
  background: linear-gradient(transparent 70%, $light-blue 70%);
}
.session-tag{
  background-color: $light-gray;
  margin-bottom: 8px;
  padding: 12px;
  text-align: center;
}
.tag-post{
  background-color: $light-gray;
  border-radius: 1em;
  padding: 4px 24px;
  &:not(:last-child){
    margin-right: 12px;
  }
}

.text{
  margin: auto;
  width: 80%;
}
.thumbnail{
  margin: 0 10%;
  width: 80%;
}

.top{
  height: 80vh;
  margin-bottom: 0; 
  position: relative;
  text-align: center;
  width: 100%;
  img{
    left: 0;
    position: absolute;
    z-index: -8;
  }
}
.top-background{
  left: 0;
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: -10;
}
.top-cloud{
  width: 100% !important;
}
.top-ninja{
  bottom: 0;
  display: block;
  max-width: 100%;
}
.top-title{
  margin: 0 10%;
  max-height: 20vh;
  object-fit: contain;
  width: 80%;
}
.top-title-big{
  margin: 0 20%;
  width: 60%;
}
.top-title-small{
  display: none;
}

@media screen and (max-width: 1000px){
  .outline-one{
    text-align: center;
    *{
      display: block;
    }
    h3{
      margin: 12px auto 6px;
    }
  }
  .text{
    width: 100%;
  }
}
@media screen and (max-width: 800px){

  .top-background{
    display: none;
  }
  .top-title-big{
    display: none;
  }
  .top-title-small{
    display: block;
  }
}
