# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
#
#   *.rb linguist-language=Java
#
# See: https://github.com/github-linguist/linguist/blob/master/docs/overrides.md

# Mark Jekyll-based markups as Ruby
# https://jekyllrb.com/docs/assets/
_includes/* linguist-language=Ruby
_layouts/*  linguist-language=Ruby
_news/*     linguist-language=Ruby
_sass/*     linguist-language=Ruby
_session/*  linguist-language=Ruby
_workshop/* linguist-language=Ruby
css/*       linguist-language=Ruby
index.html  linguist-language=Ruby
