<footer>
  <nav class="share">
    <a href="https://www.facebook.com/share.php?u={{site.url}}" target="_blank" class="share-facebook">Facebook でシェア</a>
    <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{site.title}}  {{page.title}}&hashtags=DojoConJP&via={{ site.twitter_username }}&related={{site.twitter_username}}" target="_blank" class="share-twitter">Twitter でシェア</a>
  </nav>
  <nav class="footer-menu">
    <ul class="footer-menu-list">
      <li><a href="">行動規範</a></li>
      <li><a href="">Facebook</a></li>
      <li><a href="">Twitter</a></li>
    </ul>
  </nav>
  <p class="copyright">© DojoCon Japan 実行委員会</p>
</footer>
