<header>
  <nav class="menu">
    <input type="checkbox" id="menu-check">
    <label for="menu-check" class="menu-hamburger"><i class="fas fa-bars fa-fw"></i><i class="fas fa-times fa-fw"></i></label>
    <ul class="menu-list">
      <li><a href="{{site.url}}/">ホーム</a></li>
      <li><a href="{{site.url}}/#outline">開催概要</a></li>
      <li><a href="{{site.url}}/#news">お知らせ</a></li>
      <li><a href="{{site.url}}/#workshops">タイムテーブル</a></li>
      <li><a href="/">コンテスト</a></li>
      <li><a href="{{site.url}}/#sponsors">スポンサー</a></li>
      <li><a href="{{site.url}}/#contact">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
