---
layout: default
---
<div class="post-head">
  <h2>{{page.categories[0] | upcase }}</h2>
</div>
<div class="post">
<h1 class="post-title">{{ page.title }}</h1>
{% if page.categories[0] == "news" %}
  <div class="post-date">{{ page.date | date:"%Y.%-m.%-d" }}</div>
{% elsif page.categories[0] == "workshop" or page.categories[0] == "session" %}
  <div class="tags">
    {% for tag in page.tags %}
      <span class="tag-post">{{tag}}</span>
    {% endfor %}
  </div>
  <p>{{page.time}}</p>
{%endif%}
<img src="/img/{{page.thumbnail}}" alt="thumbnail" class="thumbnail">
<div class='post-content'>
  {{ content }}
</div>
{% if page.categories[0] == "session" %}
<h2>スピーカー</h2>
  <div class="speakers">
    {% for speaker in page.speakers %}
    <!--{{ site.data.speaker | where: "name", speaker }}-->
    {% assign speaker_data = site.data.speaker | where: "name", speaker %}
      <div class="speaker">
        {% for one_speaker in speaker_data %}
        <img src="/img/speaker/{{one_speaker.img}}" alt="{{one_speaker.name}}">
        <a href="{{one_speaker.site}}">{{ one_speaker.name }}</a>
        <p>{{one_speaker.description }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}
</div>
